<div class="row">
    <div class="col-md-12">
        <h2>Employees</h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Department</th> 
                    </tr>
                </thead>
                <tbody>
                    {{#unless departments}}
                        <div class="col-md-12 text-center">
                            <strong>{{message}}</strong>
                        </div>
                    {{/unless}}
                    {{#each departments}}
                        <tr>
                            <td><a href="/employees?department={{this.departmentId}}">{{this.departmentId}}</a></td>
                            <td><a href="/employees?department={{this.departmentId}}">{{this.departmentName}}</a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>