<div class="row">
    <div class="col-md-12">
        <h2>Employees</h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Employee Num</th>
                        <th>Full Name</th> 
                        <th>Email</th>
                        <th>Address</th>
                        <th>Manager ID</th>
                        <th>Status</th>
                        <th>Department</th>
                        <th>Hired On</th>
                    </tr>
                </thead>
                <tbody>
                    {{#unless employees}}
                        <div class="col-md-12 text-center">
                            <strong>{{message}}</strong>
                        </div>
                    {{/unless}}
                    {{#each employees}}
                        <tr>
                            <th>{{this.employeeNum}}</th>
                            <th>{{this.firstName}} {{this.lastName}}</th>
                            <th>{{this.email}}</th>
                            <th>{{this.addressStreet}}, {{this.addressCity}}, {{this.addressPostal}}</th>
                            <th>{{this.employeeManagerNum}}</th>
                            <th>{{this.status}}</th>
                            <th>{{this.department}}</th>
                            <th>{{this.hireDate}}</th>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>